In [ ]:
import app  

import pandas as pd
from IPython.display import display, Markdown

pd.set_option('display.max_columns', None)  # Show all columns in the DataFrame
pd.set_option('display.max_rows', None)  # Show all rows in the DataFrame
pd.set_option('display.float_format', '{:,.2f}'.format)  # coma para miles, 2 decimales, por defecto estaba entregando valores en notacion cientifica


data = app.data.data
df = pd.json_normalize(data)


def ShowRegionesData():
    
    regiones = df['region'].dropna().unique()
    regiones_df =  pd.DataFrame(regiones, columns=['region'])
    display(regiones_df)
    
    display(Markdown("#### Cantidad de paises por region"))
    display(df['region'].value_counts())

    promedio_poblacion_region = df[['region','population']].groupby('region')['population'].mean()
    display(Markdown("#### Promedio de poblacion por region"))
    display(promedio_poblacion_region)

def ShowPoblacionPaises():
    display(Markdown("#### Paises con mayor poblacion"))
    display(df[['name.common', 'population']].sort_values('population', ascending=False).head(10))


def ShowDensidadPoblacion():
    # Eval crea una nueva columna en el DataFrame, en base a la expresion
    df.eval('density = population / area', inplace=True) # 'inplace = false' devuelve una copia del DataFrame, 'inplace = true' modifica el DataFrame original

    display(Markdown("#### Paises con mayor densidad poblacional (personas/km2)"))
    display(df[['name.common', 'density']].sort_values('density', ascending=False).head(10))

    display(Markdown("#### Regiones con mayor densidad poblacional (personas/km2)"))
    display(df[['region', 'density']].groupby('region').mean().sort_values('density', ascending=False).head(10))


ShowRegionesData()
ShowPoblacionPaises()
ShowDensidadPoblacion()

      region
0     Africa
1    Oceania
2     Europe
3   Americas
4       Asia
5  Antarctic

**Total de regiones 6**

#### Cantidad de paises por region

region
Africa       59
Americas     56
Europe       53
Asia         50
Oceania      27
Antarctic     5
Name: count, dtype: int64

#### Promedio de poblacion por region

region
Africa      23,086,359.92
Americas    18,231,721.79
Antarctic          286.00
Asia        92,091,899.48
Europe      14,093,095.70
Oceania      1,597,016.00
Name: population, dtype: float64

#### Paises con mayor poblacion

       name.common  population
37           China  1402112000
87           India  1380004385
141  United States   329484123
232      Indonesia   273523621
177       Pakistan   220892331
247         Brazil   212559409
85         Nigeria   206139587
229     Bangladesh   164689383
204         Russia   144104080
191         Mexico   128932753

#### Paises con mayor densidad poblacional (personas/km2)

      name.common   density
121         Macau 21,644.73
188        Monaco 19,427.72
206     Singapore  8,008.18
49      Hong Kong  6,794.11
242     Gibraltar  5,615.17
10        Bahrain  2,224.29
123      Maldives  1,801.81
217         Malta  1,662.29
8    Sint Maarten  1,200.35
82        Bermuda  1,183.39

#### Regiones con mayor densidad poblacional (personas/km2)

           density
region
Asia        991.62
Europe      661.24
Americas    194.32
Oceania     118.18
Africa      113.72
Antarctic     0.01